// @include adaptiv-value("font-size", 16, 13);
// @use "../../mixins" as *;
@use "@app/mixins" as *;

.title {
    @include adaptiv-value("font-size", 40, 24);
    font-weight: 600;
    margin-bottom: 30px;

    @media(max-width: 560px) {
        margin-bottom: 20px;
    }
}

.content_wrapper {
    color: var(--color-gray);
    max-width: 900px;
    margin-bottom: 30px;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 50px;

    @media(max-width: 930px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media(max-width: 560px) {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

.item {
    background: linear-gradient(180deg, #e6ecf3 0%, #fff 100%);
    border-radius: 20px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 20px;

    p:last-child {
        color: var(--color-gray);
    }

    @media(max-width: 560px) {
        padding: 25px;
    }
}

.promo_image {
    margin-bottom: 15px;

    img {
        border-radius: 20px;
        max-height: 180px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.promo_item_title {
    font-weight: 600;
    @include adaptiv-value("font-size", 24, 18);
    margin-bottom: 15px;
    line-height: 1.2;
}

.promo_item_button {
    background: var(--button-gradient);
    color: white;
    padding: 20px;
    border: 1px solid var(--button-border);
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.125rem;
    border: none;
    width: 100%;
    text-align: center;

    @media(max-width: 560px) {
        font-size: 0.875rem
    }
}