@use "@app/mixins" as *;


.news__item {
    position: relative;
    min-height: 425px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    border-radius: 20px;
    overflow: hidden;

    padding: 25px 28px 30px;

    @media (max-width: 768px) {
        min-height: 250px;
        padding: 15px 20px 20px;
    }

    @media (max-width: 560px) {
        min-height: 150px;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        border-radius: 20px;
        transition: transform 0.3s ease;
    }

    &:hover {
        img {
            transform: scale(1.05);
        }

        .news__icon {
            .path_1 {
                fill: #3170B4;
            }
        }

        .path_2 {
            stroke: #ffffff;
        }
    }
}

.news_label {
    border-radius: 100px;
    backdrop-filter: blur(100px);
    background: rgba(0, 0, 0, 0.3);
    color: var(--white);
    padding: 10px 25px;
    font-size: 1.125rem;
    width: fit-content;

    @include adaptiv-value("font-size", 14, 8);

    @media (max-width: 768px) {
        padding: 5px 15px;
    }
}

.news__title {
    font-weight: 600;
    @include adaptiv-value("font-size", 24, 10);
    line-height: 120%;
    color: var(--white);
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    width: 90%;
}

.news__icon {
    position: absolute;
    bottom: -1px;
    right: -1px;

    @media (max-width: 768px) {
        width: 59px;
        height: 50px;
    }

    @media (max-width: 560px) {
        width: 40px;
        height: 35px;
    }
}

.path_1 {
    fill: var(--white);
    transition: all 0.3s ease;
}

.path_2 {
    stroke: #3170B4;
    transition: all 0.3s ease;
}