// @include adaptiv-value("font-size", 16, 13);
// @use "../../mixins" as *;
@use "@app/mixins" as *;

.color {
    color: red;
    @include adaptiv-value("font-size", 102, 32);
}

.text {
    background: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    @include adaptiv-value("font-size", 72, 16);
}