// @include adaptiv-value("font-size", 16, 13);
// @use "../../mixins" as *;
@use "@app/mixins" as *;

.color {
    color: red;
    @include adaptiv-value("font-size", 102, 32);
}

.text {
    color: var(--text-gradient);
    @include adaptiv-value("font-size", 72, 16);
}