// @include adaptiv-value("font-size", 16, 13);
// @use "../../mixins" as *;
@use "@app/mixins" as *;

.title {
    @include adaptiv-value("font-size", 46, 26);
    margin-bottom: 30px;
}

.news {
    .news__title {
        @include adaptiv-value("font-size", 18, 16);
        margin-bottom: 30px;
        color: var(--color-gray);
    }
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media(max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    @media(max-width: 560px) {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}

.article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;

    position: relative;
    margin-top: 30px;

    @media(max-width: 1024px) {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    @media(max-width: 560px) {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}

.article__image {
    border-radius: 20px;
    overflow: hidden;

    position: sticky;
    top: 20px;

    img {
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.article__date {
    display: inline-block;
    margin-bottom: 30px;
    color: var(--white);

    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.2;

    backdrop-filter: blur(100px);
    background: linear-gradient(90deg, #3170b4 0%, #5cccc2 100%);

    border-radius: 100px;

    padding: 10px 20px;
}

.article__title {
    @include adaptiv-value("font-size", 36, 26);
    font-weight: 600;
    margin-bottom: 30px;
}

.costs {
    @include adaptiv-value("margin-top", 100, 30);
}

.costs__title {
    @include adaptiv-value("font-size", 46, 26);
    font-weight: 600;
    margin-bottom: 30px;
}