// @include adaptiv-value("font-size", 16, 13);
// @use "../../mixins" as *;
@use "@app/mixins" as *;

.title {
    @include adaptiv-value("font-size", 46, 26);
    margin-bottom: 30px;
}

.news {

    h2 {
        @include adaptiv-value("font-size", 18, 16);
        margin-bottom: 30px;
        color: var(--gray);
    }
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;

    position: relative;
}

.article__image {
    border-radius: 20px;
    overflow: hidden;

    position: sticky;
    top: 20px;

    img {
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
}