// @include adaptiv-value("font-size", 16, 13);
// @use "../../mixins" as *;
@use "@app/mixins" as *;


.faq {
    @include adaptiv-value("margin-top", 100, 30);
}

.faq__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    margin-bottom: 30px;

    p {
        max-width: 397px;
        color: var(--color-gray);
        @include adaptiv-value("font-size", 16, 14);

        @media (max-width: 740px) {
            max-width: 100%;
        }
    }

    @media (max-width: 740px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}

.title {
    @include adaptiv-value("font-size", 46, 26);
}