// @include adaptiv-value("font-size", 16, 13);
// @use "../../mixins" as *;
@use "@app/mixins" as *;


.wrapper {
    max-width: 1740px;
    margin: 0 auto;

    @media(max-width: 1440px) {
        margin: 0 20px;
    }
}

.slider__item {
    padding: 80px 0;
    border-radius: 30px;

    background-image: url("/bg/services_bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media(max-width: 560px) {
        padding: 20px 0;
    }
}

.item_wrapper {
    display: flex;
    gap: 40px;
    justify-content: space-between;

    @media(max-width: 560px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.item_content {
    max-width: 730px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;


    h2 {
        @include adaptiv-value("font-size", 36, 20);
        margin-bottom: 30px;
    }

    h3 {
        @include adaptiv-value("font-size", 24, 16);
        margin-bottom: 30px;
    }

    @media(max-width: 768px) {
        max-width: 50%;
    }

    @media(max-width: 560px) {
        max-width: 100%;
    }
}

.slider__item_image {
    border-radius: 20px;

    img {
        border-radius: 20px;
        width: 100%;
        height: 100%;
        max-height: 478px;
        object-fit: cover;
    }
}

.item__link {
    display: block;
    text-align: center;
    background: var(--button-gradient);
    color: white;
    padding: 20px 70px;
    border: 1px solid var(--button-border);
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.125rem;
    border: none;

    max-width: 353px;

    @media(max-width: 768px) {
        padding: 10px 30px;
    }

    @media(max-width: 560px) {
        padding: 10px 30px;
        font-size: 0.875rem
    }
}


.image_wrapper {

    img {
        width: 100%;
        height: 10%;
        object-fit: cover;
    }
}