/*
  20px - font-size: 1.25rem;
  18px - font-size: 1.125rem;
  16px - font-size: 1rem;
  14px - font-size: 0.875rem;
  12px - font-size: 0.75rem;
  10px - font-size: 0.625rem;
*/

:root {
  --foreground: #171717;
  --background: #ffffff;
  --gradient: linear-gradient(to right, #3170b4, #5cccc2);
  --button-gradient: linear-gradient(to right, #3170b4, #5cccc2);
  --button-border: transparent;
  --transition: 0.3s ease;

  --hover: #3170b4;

  /*Цвета макета*/
  --color-gray: #858f9c;
  --color-light-gray: #dedce3;
  --color-blue: #3170b4;
  /* добавлять как цвет текста для корректного изменения через плвгин */
  --text-gray: #858f9c;

  /* Переменные для плагина */
  --light-yellow: #f7f3d6;
  --light-green: #3b2716;
  --black: #191830;
  --black-toggle: #191830;
  --dark-blue: #282646;
  --white: #ffffff;
  --gray: #ebeef8;
  --dark-gray: #e4e8f5;
  --light-blue: #37a4da;
  --yellow: #fccc05;
  --green: #29a55c;
  --violet: #433c8c;
  --violet2: #474092;
  --purple: #7b1fa2;
  --orange: #ffb236;
  --slate-gray: #757f99;
  --violet-gradient: linear(from(#433c8c) to(#625ab6));
  --purple-gradient: linear(from(#7b1fa2) to(#a340cd));
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.theme_white {
  --background: var(--white);
  --foreground: var(--black);
  --text-gray: var(--black);
  --gradient: var(--black);
  --button-gradient: var(--white);
  --button-border: var(--black);
}

body.theme_black {
  --background: var(--black);
  --foreground: var(--white);
  --text-gray: var(--white);
  --gradient: var(--white);
  --button-gradient: var(--black);
  --button-border: var(--white);
}

body.theme_blue {
  --background: var(--light-yellow);
  --foreground: var(--dark-blue);
  --text-gray: var(--dark-blue);
  --gradient: var(--dark-blue);
  --button-gradient: var(--light-yellow);
  --button-border: var(--dark-blue);
}

body.theme_yellow {
  --background: var(--light-yellow);
  --foreground: var(--light-green);
  --text-gray: var(--light-green);
  --gradient: var(--light-green);
  --button-gradient: var(--light-yellow);
  --button-border: var(--light-green);
}

body.theme_green {
  --background: var(--light-green);
  --foreground: var(--green);
  --text-gray: var(--green);
  --gradient: var(--green);
  --button-gradient: var(--light-green);
  --button-border: var(--green);
}

body.theme_white *,
body.theme_black *,
body.theme_blue *,
body.theme_yellow *,
body.theme_green * {
  color: var(--foreground);
}

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}

.relative {
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

/* Utils */
.flex {
  display: flex;
  align-items: center;
  gap: 6px;
}

.mt-0 {
  margin-top: 0 !important;
}

.text-gradient {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 3rem;
}

.swiper-slide {
  height: auto !important;
}


.medflex-medtochka-widget {
  font-size: 0 !important;
  width: 40px;
  height: 40px;

  background-image: url("/icons/account-icon.svg");
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50% !important;
  background-color: var(--gray) !important;
  padding: 0 !important;

  img {
    display: none;
  }
}