/*
  20px - font-size: 1.25rem;
  18px - font-size: 1.125rem;
  16px - font-size: 1rem;
  14px - font-size: 0.875rem;
  12px - font-size: 0.75rem;
  10px - font-size: 0.625rem;
*/


:root {
  --background: #ffffff;
  --foreground: #232527;
  --text-gradient: linear-gradient(to right, #3170B4, #5CCCC2);

  /* Переменные для плагина */
  --light-yellow: #F7F3D6;
  --light-green: #3B2716;
  --black: #191830;
  --black-toggle: #191830;
  --dark-blue: #282646;
  --white: #FFFFFF;
  --gray: #EBEEF8;
  --dark-gray: #e4e8f5;
  --light-blue: #37A4DA;
  --yellow: #FCCC05;
  --green: #29A55C;
  --violet: #433C8C;
  --violet2: #474092;
  --purple: #7B1FA2;
  --orange: #FFB236;
  --slate-gray: #757f99;
  --violet-gradient: linear(from(#433C8C) to (#625AB6));
  --purple-gradient: linear(from(#7B1FA2) to (#A340CD));
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.theme_white {
  --background: var(--white);
  --foreground: var(--black);
}

body.theme_black {
  --background: var(--black);
  --foreground: var(--white);
}

body.theme_blue {
  --background: var(--light-blue);
  --foreground: var(--dark-blue);
}

body.theme_yellow {
  --background: var(--light-yellow);
  --foreground: var(--light-green);
}

body.theme_green {
  --background: var(--light-green);
  --foreground: var(--green);
}

/* Перебивает локальные color (например color: red) в Header */
body.theme_white *,
body.theme_black *,
body.theme_blue *,
body.theme_yellow *,
body.theme_green * {
  color: var(--foreground);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}