// @include adaptiv-value("font-size", 16, 13);
// @use "../../mixins" as *;
@use "@app/mixins" as *;

.section {
    @include adaptiv-value("margin-top", 100, 30);
}

.secton_title {
    @include adaptiv-value("font-size", 46, 26);
    font-weight: 600;
    line-height: 1.2;
}

.services__hero {
    position: relative;
    max-width: 1740px;
    margin: 0 auto;
    @include adaptiv-value("min-height", 639, 450);

    border-radius: 20px;
    display: flex;

    @media(max-width:1740px) {
        margin: 0 20px;
    }

    p {
        color: var(--white);
        @include adaptiv-value("font-size", 24, 16);
        margin-bottom: 30px;

        max-width: 640px;
    }
}

.services__hero_image {

    img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
}

.services__hero_wrapper {
    padding-top: 70px;
    flex: 1 1 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
}

.hero_title {
    position: relative;
    z-index: 2;
    color: var(--white);
    @include adaptiv-value("font-size", 50, 26);
    margin-bottom: 30px;

    font-weight: 700;
    line-height: 1.2;
}

.hero_button {
    background: var(--button-gradient);
    color: white;
    padding: 20px 70px;
    border: 1px solid var(--button-border);
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.125rem;
    border: none;

    @media(max-width: 560px) {
        padding: 10px 30px;
        font-size: 0.875rem
    }
}

.services__hero_button_wrapper {
    position: relative;
    margin-left: 200px;
    width: 435px;
    height: 92px;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    flex: 0 0 auto;

    .hero_button_bg {
        position: absolute;
        top: 1px;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media(max-width:670px) {
        margin-left: 20px;
    }

    @media(max-width:560px) {
        width: 260px;
        height: 56px;
    }
}

.costs {
    @include adaptiv-value("margin-top", 100, 30);
}

.costs__header {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    margin-bottom: 30px;

    p {
        max-width: 580px;
        color: var(--color-gray);
        @include adaptiv-value("font-size", 16, 14);

        @media (max-width: 740px) {
            max-width: 100%;
        }
    }

    @media (max-width: 740px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}

.costs__title {
    @include adaptiv-value("font-size", 46, 26);
}

.costs__list {
    margin-top: 30px;
}

.includes__header {
    margin-bottom: 30px;

    p {
        color: var(--color-gray);
        @include adaptiv-value("font-size", 16, 14);
        max-width: 870px;
    }
}

.includes__title {
    @include adaptiv-value("font-size", 46, 26);
    @include adaptiv-value("margin-bottom", 30, 20);
}

.includes__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;


    @media(max-width: 560px) {
        flex-direction: column;
        gap: 20px;
    }
}

.includes__item {
    position: relative;
    min-height: 170px;
    height: 100%;
    max-width: 264px;
    padding: 60px 40px 20px 40px;
    border-radius: 20px;
    @include adaptiv-value("font-size", 18, 16);

    background-image: url('/bg/inclide_bg.webp');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media(max-width: 560px) {
        width: 100%;
        max-width: 100%;
        background-image: url("/bg/about-item_bg_s.png");
        background-size: cover;
        background-position: center;
        background-color: var(--gray);
    }
}

.includes__item_number {
    position: absolute;
    top: 0;
    right: 10px;

    @include adaptiv-value("font-size", 24, 20);
    font-weight: 700;

    @media(max-width: 560px) {
        top: 20px;
        right: 20px;
    }
}

.recomendations {
    h2 {
        @include adaptiv-value("margin-bottom", 30, 20);
    }
}

.recomendations__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    @media(max-width: 620px) {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

.recomendations__image {
    border-radius: 20px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;

        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05);
        }
    }

    @media(max-width: 620px) {
        grid-row: 1/2;
    }
}

.recomendations__block {
    border-radius: 20px;
    padding: 50px;

    background: linear-gradient(90deg, #3170b4 0%, #5cccc2 100%);

    @media(max-width: 768px) {
        padding: 30px 20px;
    }

    @media(max-width: 560px) {
        padding: 30px 20px;
    }
}

.recomendations__item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;

    svg {
        width: 25px;
        height: 25px;
        flex-shrink: 0;

        @media(max-width: 560px) {
            width: 15px;
            height: 15px;
        }
    }


    p {
        color: var(--white);
        @include adaptiv-value("font-size", 20, 14);
    }
}

.faq__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    margin-bottom: 30px;

    p {
        max-width: 397px;
        color: var(--color-gray);
        @include adaptiv-value("font-size", 16, 14);

        @media (max-width: 740px) {
            max-width: 100%;
        }
    }

    @media (max-width: 740px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}

.seo_block__header {
    margin-bottom: 30px;
}

.how {

    h2 {
        margin-bottom: 30px;
    }
}

.how_background {
    position: relative;
    max-width: 1740px;
    margin: 0 auto;
    padding: 70px 0 100px;
    background-image: url('/bg/services_bg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;


    @media(max-width: 1740px) {
        margin: 0 20px;
    }

    @media(max-width: 768px) {
        padding: 50px 0;
    }
}

.how_content__wrapper {
    display: grid;
    grid-template-columns: 375px 1fr;
    gap: 50px;

    @media(max-width: 1200px) {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    @media(max-width: 560px) {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

.how_content__text {
    max-width: 845px;
    padding-top: 50px;

    p {
        @include adaptiv-value("font-size", 24, 16);
    }

    @media(max-width: 560px) {
        padding-top: 0;
    }
}