// @include adaptiv-value("font-size", 16, 13);
// @use "../../mixins" as *;
@use "@app/mixins" as *;

.costs,
.slider_services,
.includes {
    @include adaptiv-value("margin-top", 100, 30);
}

.services__hero {
    position: relative;
    max-width: 1740px;
    margin: 0 auto;
    @include adaptiv-value("height", 639, 450);

    border-radius: 20px;

    @media(max-width:1740px) {
        margin: 0 20px;
    }

    p {
        color: var(--white);
        @include adaptiv-value("font-size", 24, 16);
        margin-bottom: 30px;

        max-width: 640px;
    }
}

.services__hero_image {

    img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
}

.services__hero_wrapper {
    padding-top: 10%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
}

.hero_title {
    position: relative;
    z-index: 2;
    color: var(--white);
    @include adaptiv-value("font-size", 50, 26);
    margin-bottom: 30px;

    font-weight: 700;
    line-height: 1.2;
}

.hero_button {
    background: var(--button-gradient);
    color: white;
    padding: 20px 70px;
    border: 1px solid var(--button-border);
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.125rem;
    border: none;

    @media(max-width: 560px) {
        padding: 10px 30px;
        font-size: 0.875rem
    }
}

.services__hero_button_wrapper {
    position: relative;
    margin-left: 200px;
    width: 435px;
    height: 92px;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    .hero_button_bg {
        position: absolute;
        top: 1px;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media(max-width:670px) {
        margin-left: 20px;
    }

    @media(max-width:560px) {
        width: 260px;
        height: 56px;
    }
}

.costs {
    @include adaptiv-value("margin-top", 100, 30);
}

.costs__header {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    margin-bottom: 30px;

    p {
        max-width: 580px;
        color: var(--color-gray);
        @include adaptiv-value("font-size", 16, 14);

        @media (max-width: 740px) {
            max-width: 100%;
        }
    }

    @media (max-width: 740px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}

.costs__title {
    @include adaptiv-value("font-size", 46, 26);
}

.costs__list {
    margin-top: 30px;
}

.includes__header {
    margin-bottom: 30px;

    p {
        color: var(--color-gray);
        @include adaptiv-value("font-size", 16, 14);
        max-width: 870px;
    }
}

.includes__title {
    @include adaptiv-value("font-size", 46, 26);
    @include adaptiv-value("margin-bottom", 30, 20);
}

.includes__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;


    @media(max-width: 560px) {
        flex-direction: column;
        gap: 20px;
    }
}

.includes__item {
    position: relative;
    min-height: 170px;
    height: 100%;
    max-width: 264px;
    padding: 60px 40px 20px 40px;
    border-radius: 20px;
    @include adaptiv-value("font-size", 18, 16);

    background-image: url('/bg/inclide_bg.webp');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media(max-width: 560px) {
        width: 100%;
        max-width: 100%;
        background-image: url("/bg/about-item_bg_s.png");
        background-size: cover;
        background-position: center;
        background-color: var(--gray);
    }
}

.includes__item_number {
    position: absolute;
    top: 0;
    right: 10px;

    @include adaptiv-value("font-size", 24, 20);
    font-weight: 700;

    @media(max-width: 560px) {
        top: 20px;
        right: 20px;
    }
}