// @include adaptiv-value("font-size", 16, 13);
// @use "../../mixins" as *;
@use "@app/mixins" as *;


.page_wrapper {
    display: grid;
    grid-template-columns: 330px 1fr;
    gap: 30px;
    margin-bottom: 30px;
}

.content {
    padding: 35px;
    background: linear-gradient(180deg, #e6ecf3 0%, #fff 100%);
    ;
    border-radius: 20px;
}

.content__title {
    @include adaptiv-value("font-size", 30, 24);
    font-weight: 600;
    margin-bottom: 30px;
}

.documents__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.documents__item a {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 25px;
    border-radius: 14px;
    background-color: #ffffff;

    font-weight: 600;
    @include adaptiv-value("font-size", 20, 16);
    text-decoration: underline;
}