// @include adaptiv-value("font-size", 16, 13);
// @use "../../mixins" as *;
@use "@app/mixins" as *;


.page_wrapper {
    display: grid;
    grid-template-columns: 330px 1fr;
    gap: 30px;
    margin-bottom: 30px;
}

.content {
    padding: 35px;
    background: linear-gradient(180deg, #e6ecf3 0%, #fff 100%);
    ;
    border-radius: 20px;
}